﻿@model GamePortal.Domain.Models.DTO.ResponseModels.GameResponseModel

@{
    ViewBag.Title = $"Редактирование игры \"{Model.Name}\"";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control text-center", data_bind = "value: $root.model().Name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HeaderFile.Url, new { @class = "control-label" })
        <div>
            <input type="file" data-bind="event: { change: $root.OnHeaderFileSelected }" class="btn btn-default" style="display: inline-block;" accept="image/*" />
        </div>
        <div>
            <img id="previewHeaderFile" data-bind="attr: {src: $root.model().HeaderFile.Url}, visible: $root.model().HeaderFile.Url" alt="your image" width="500" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
        <div>
            <textarea id="Description" data-bind="text: $root.model().Description"></textarea>
            <input type="file" id="game-files" class="btn btn-default" style="display: none;" accept="image/*" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genres, new { @class = "control-label" })
        <div id="textarea-autocomplete-to-genres">
            <!-- ko foreach: $root.model().Genres -->
            <button data-bind="click: $root.RemoveGenre, text: Name"></button>
            <!-- /ko -->
            <input />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tags, new { @class = "control-label" })
        <div id="textarea-autocomplete-to-tags">
            <!-- ko foreach: $root.model().Tags -->
            <button data-bind="click: $root.RemoveTag, text: Name"></button>
            <!-- /ko -->
            <input />
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="btn-group">
                <input type="button" class="btn btn-info col-md-6" data-bind="click: $root.Save " value="Сохранить" style="width: 55%">
                <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/viewModels/GameViewModel.js"></script>
    <script src="~/Scripts/models/GameModel.js"></script>
    <script>
        ko.applyBindings(new GameVm(new GameModel(ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)))), true));
    </script>
}
