﻿@{
    ViewBag.Title = "Игры";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить игру", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2">
                <input placeholder="Имя" type="text" data-bind="value: nameFilter" class="form-control" />
            </th>
            <th data-bind="foreach: $root.selectedGenres">
                <button data-bind="click: $root.RemoveGenreFromSearch, text: Name"></button>
            </th>
            <th data-bind="foreach: $root.selectedTags">
                <button data-bind="click: $root.RemoveTagFromSearch, text: Name"></button>
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Заставка</th>
            <th>Имя</th>
            <th>Жанры</th>
            <th>Тэги</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.gamesList()">
        <tr>
            <td class="col-md-2">
                <img data-bind="attr:{src: HeaderFile.Url, alt: Name}" width="100" />
            </td>
            <td class="col-md-2" data-bind="text: Name"></td>
            <td class="col-md-3" data-bind="foreach: Genres">
                <button data-bind="text: Name, click: $root.AddGenreToSearch"></button>
            </td>
            <td class="col-md-3" data-bind="foreach: Tags">
                <button data-bind="text: Name, click: $root.AddTagToSearch"></button>
            </td>
            <td class="col-md-2">
                <a class="btn btn-default" title="Посмотреть" data-bind="click: function(){$root.OpenGame(Id)}"><i class="far fa-eye"></i></a>
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditGame(Id)}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteGame(Id)}"><i class="fas fa-trash-alt"></i></a>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/GameViewModel.js"></script>
    <script src="~/Scripts/models/GameModel.js"></script>
    <script>
        ko.applyBindings(new GameVm(new GameModel()));
    </script>
}