﻿@{
    ViewBag.Title = "Пользователи";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить пользователя", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2">
                <input placeholder="Имя" type="text" data-bind="value: firstNameFilter" class="form-control" />
            </th>
            <th>
                <input placeholder="Фамилия" type="text" data-bind="value: lastNameFilter" class="form-control" />
            </th>
            <th>
                <input placeholder="Email" type="text" data-bind="value: emailFilter" class="form-control" />
            </th>
            <th>
                <input placeholder="Псевдоним" type="text" data-bind="value: userNameFilter" class="form-control" />
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Псевдоним</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.usersList()">
        <tr>
            <td class="col-md-2">
                <img data-bind="attr: {src: HeaderFile.Url}" alt="Аватар" height="100" />
            </td>
            <td class="col-md-2" data-bind="text: FirstName"></td>
            <td class="col-md-2" data-bind="text: LastName"></td>
            <td class="col-md-2" data-bind="text: Email"></td>
            <td class="col-md-2" data-bind="text: UserName"></td>
            <td class="col-md-2">
                <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditUser(Id)}"><i class="fas fa-pencil-alt"></i></a>
                <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteUser(Id)}"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/UsersViewModel.js"></script>
    <script>
        ko.applyBindings(new UsersVm());
    </script>
}