﻿@model GamePortal.Domain.Models.DTO.ResponseModels.TagResponseModel
@{
    ViewBag.Title = $"Редактирование тэга \"{Model.Name}\"";
}

@using (Html.BeginForm("Edit", "Tag", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4><b>@ViewBag.Title</b></h4>
    @Html.HiddenFor(x => x.Id)
    <div style="color: red">
        @Html.ValidationSummary()
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="btn-group">
                <input type="submit" class="btn btn-success" value="Сохранить">
                <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
}