﻿@model GamePortal.Domain.Models.DTO.ResponseModels.GenreResponseModel

@{
    ViewBag.Title = "Создание жанра";
}

<h4><b>@ViewBag.Title</b></h4>
<!-- ko foreach: $root.errors-->
<h2 class="text-danger" data-bind="text: $data "> </h2>
<!-- /ko-->
<hr />
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
    <div>
        <input type="text" data-bind="value: $root.model().Name" class="form-control text-center" />
    </div>
</div>
<div class="form-group">
    <label>Заставка</label>
    <div>
        <input type="file" data-bind="event: { change: $root.OnFileSelected }" class="btn btn-default" style="display: inline-block;" accept="image/*" />
    </div>
    <div>
        <img id="previewHeaderFile" data-bind="attr: { alt: $root.model().Name}" width="500" style="display: none;" />
    </div>
</div>

<div class="form-group">
    <div>
        <div class="btn-group">
            <button class="btn btn-info col-md-6" data-bind="click: $root.Save " style="width: 55%">Сохранить</button>
            <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/GenreViewModel.js"></script>
    <script src="~/Scripts/models/GenreModel.js"></script>
    <script>
        ko.applyBindings(new GenreVm(new GenreModel()));
    </script>
}