﻿@{
    ViewBag.Title = "Жанры";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить жанр", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2">
                <input placeholder="Имя" type="text" data-bind="value: nameFilter" class="form-control" />
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Заставка</th>
            <th>Имя</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.genresList()">
        <tr>
            <td class="col-md-3"><img data-bind="attr: {src: HeaderFile.Url, alt: Name }" width="100" /></td>
            <td class="col-md-3" data-bind="text: Name"></td>
            <td class="col-md-1">
                <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditGenre(Id)}"><i class="fa fa-pencil-alt"></i></a>
                <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteGenre(Id)}"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/GenreViewModel.js"></script>
    <script>
        ko.applyBindings(new GenreVm());
    </script>
}