﻿@{
    ViewBag.Title = "Главная";
}

<div>
    <ul data-bind="foreach: $root.gamesList()">
        <li>
            <a data-bind="attr: {href: '@Url.Action("Game", "Game")?gameId=' + Id}">
                <img data-bind="attr: { src: HeaderFile.Url, alt: Name}, style: {height: '100px'}">
            </a>
        </li>
    </ul>
</div>

<div>
    <ul data-bind="foreach: $root.newsList()">
        <li>
            <a data-bind="attr: {href: '@Url.Action("News", "News")?newsId=' + Id}">
                <img data-bind="attr: { src: HeaderFile.Url, alt: Title}, style: {width: '100px'}">
            </a>
        </li>
    </ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/HomeViewModel.js"></script>
    <script>
        ko.applyBindings(new HomeVm());
    </script>
}