﻿@model GamePortal.Domain.Models.DTO.ResponseModels.SurveyResponseModel

@{
    ViewBag.Title = "Редактирование конкурса " + Model.Name;
}

<h2>@ViewBag.Title</h2>
<!-- ko foreach: $root.errors-->
<h2 class="text-danger" data-bind="text: $data "> </h2>
<!-- /ko-->
<hr />
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control text-center", data_bind = "value: $root.model().Name" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = "5", data_bind = "value: $root.model().Description" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.StartDateTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.StartDateTime, new { @class = "form-control datepicker", data_bind = "value: $root.model().StartDateTime" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EndDateTime, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.EndDateTime, new { @class = "form-control datepicker", data_bind = "value: $root.model().EndDateTime" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Questions, new { @class = "control-label" })
    <div>
        <!-- ko foreach: $root.model().Questions -->
        <hr />
        <div style="margin: 10px 0;">
            <div data-bind="attr: {id : 'question-' + $index()}">
                <span data-bind="text: 'Вопрос №' + ($index() + 1)"></span>
                <div class="form-group">
                    <label class="control-label">Текст</label>
                    <input type="text" style="display: inline-block;" class="form-control" data-bind="value: Text" />
                    <button data-bind="click: function() {$root.RemoveQuestion($index())}">Удалить вопрос</button>
                </div>
                <button data-bind="click: function() {$root.AddAnswer($index())}">Добавить ответ</button>
                <!-- ko foreach: $data.Answers-->
                <div style="margin: 10px;">
                    <span data-bind="text: 'Ответ №' + ($index() + 1)"></span>
                    <div class="form-group">
                        <label class="control-label">Текст</label>
                        <input type="text" style="display: inline-block;" class="form-control" data-bind="value: Text" />
                        <button data-bind="click: function() {$root.RemoveAnswer($parent,$index())}">Удалить ответ</button>
                    </div>
                </div>
                <!-- /ko-->
            </div>
        </div>
        <!-- /ko -->
        <button data-bind="click: $root.AddQuestion">Добавить вопрос</button>
    </div>
</div>

<div class="form-group">
    <div>
        <div class="btn-group">
            <input type="button" class="btn btn-info col-md-6" data-bind="click: $root.Save " value="Сохранить" style="width: 55%">
            <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/SurveyViewModel.js"></script>
    <script src="~/Scripts/models/SurveyModel.js"></script>
    <script>
        ko.applyBindings(new SurveyVm(new SurveyModel(ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)))), true));
        $(function () {
            $(".datepicker")
                .datetimepicker({
                    format: 'd.m.Y H:i',
                    lang: 'ru'
                });
        });
    </script>
}
