﻿@{
    ViewBag.Title = "Конкурсы";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить конкурс", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <input placeholder="Имя" type="text" data-bind="value: nameFilter" class="form-control" />
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Имя</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.surveysList()">
        <tr>
            <td class="col-md-2" data-bind="text: Name"></td>
            <td class="col-md-2">
                <!-- ko if: Status === 1 -->
                <a class="btn btn-default" title="Посмотреть" data-bind="click: function(){$root.OpenSurvey(Id)}"><i class="far fa-eye"></i></a>
                <!-- /ko -->
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditSurvey(Id)}"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteSurvey(Id)}"><i class="fas fa-trash-alt"></i></a>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/SurveyViewModel.js"></script>
    <script>
        ko.applyBindings(new SurveyVm());
    </script>
}