﻿@model GamePortal.Domain.Models.DTO.ViewModels.SurveyViewModel

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<hr />
<p>@Model.Description</p>
<hr />
<div data-bind="foreach: $root.model().Questions">
    <h3 data-bind="text: 'Вопрос: ' + Text()"></h3>
    <div data-bind="foreach: Answers">
        <p data-bind="click: function() { $root.ChooseAnswer($parent, $data) }, style: { color: IsAnsweredByCurrentUser() ? 'brown' : '', cursor: 'pointer' }">
            <span data-bind="text: ($index() + 1) + ' : ' + Text()"></span> <span style="color: green" data-bind="text: ChoicesCount"></span>
        </p>
    </div>
    <hr />
</div>

<div class="form-group">
    <div>
        <div class="btn-group">
            <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/SurveyViewModel.js"></script>
    <script src="~/Scripts/models/SurveyModel.js"></script>
    <script>
        ko.applyBindings(new SurveyVm(new SurveyModel(ko.mapping.fromJS(@Html.Raw(Json.Encode(Model))))));
    </script>
}
