﻿
@{
    ViewBag.Title = "Клиенты";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить клиента", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="3">
                <input placeholder="Имя" type="text" data-bind="value: nameFilter" class="form-control" />
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Айди</th>
            <th>Имя</th>
            <th>Секрет</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.clientsList()">
        <tr>
            <td class="col-md-3" data-bind="text: Id"></td>
            <td class="col-md-3" data-bind="text: Name"></td>
            <td class="col-md-3" data-bind="text: Secret"></td>
            <td class="col-md-1">
                <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditClient(Id)}"><i class="fa fa-pencil-alt"></i></a>
                <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteClient(Id)}"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/ClientViewModel.js"></script>
    <script>
        ko.applyBindings(new ClientVm());
    </script>
}