﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#textarea-autocomplete-to-tags {
    border: 1px solid #eee;
}

#textarea-autocomplete-to-tags input {
    border: none;
    background: none;
    font-size: 1.2em;
    padding: 6px;
}

#textarea-autocomplete-to-tags input:focus {
    outline: none;
}

#textarea-autocomplete-to-tags button {
    border: 1px solid #eee;
    background: #f5f5f5;
    margin: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

#textarea-autocomplete-to-tags button:after {
    content: "\d7";
    color: red;
    margin-left: 2px;
}

#textarea-autocomplete-to-genres {
    border: 1px solid #eee;
}

#textarea-autocomplete-to-genres input {
    border: none;
    background: none;
    font-size: 1.2em;
    padding: 6px;
}

#textarea-autocomplete-to-genres input:focus {
    outline: none;
}

#textarea-autocomplete-to-genres button {
    border: 1px solid #eee;
    background: #f5f5f5;
    margin: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

#textarea-autocomplete-to-genres button:after {
    content: "\d7";
    color: red;
    margin-left: 2px;
}