﻿@model GamePortal.Domain.Models.DTO.ResponseModels.NewsResponseModel

@{
    ViewBag.Title = "Добавление новости";
}

<h2>@ViewBag.Title</h2>
<!-- ko foreach: $root.errors-->
<h2 class="text-danger" data-bind="text: $data "> </h2>
<!-- /ko-->
<hr />
<div class="form-group">
    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
    <div>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control text-center", data_bind = "value: $root.model().Title" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.HeaderFile.Path, new { @class = "control-label" })
    <div>
        <input type="file" data-bind="event: { change: $root.OnHeaderFileSelected }" class="btn btn-default" style="display: inline-block;" accept="image/*" />
    </div>
    <div>
        <img id="previewHeaderFile" alt="Заставка" width="500" style="display: none" />
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ShortDescription, new { @class = "control-label" })
    <div>
        @Html.TextAreaFor(x => x.ShortDescription, new { @class = "form-control", rows = "5", data_bind = "value: $root.model().ShortDescription" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
    <div>
        <textarea id="Description" data-bind="text: $root.model().Description"></textarea>
        <input type="file" id="news-files" class="btn btn-default" style="display: none;" accept="image/*" />
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Tags, new { @class = "control-label" })
    <div id="textarea-autocomplete-to-tags">
        <!-- ko foreach: $root.model().Tags -->
        <button data-bind="click: $root.RemoveTag, text: Name"></button>
        <!-- /ko -->
        <input />
    </div>
</div>

<div class="form-group">
    <div>
        <div class="btn-group">
            <input type="button" class="btn btn-info col-md-6" data-bind="click: $root.Save " value="Сохранить" style="width: 55%">
            <a href='@Url.Action("Index")' class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/NewsViewModel.js"></script>
    <script src="~/Scripts/models/NewsModel.js"></script>
    <script>
        ko.applyBindings(new NewsVm(new NewsModel()));
    </script>
}
