﻿@{
    ViewBag.Title = "Новости";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="btn-group">
        @Html.ActionLink("Добавить новость", "Create", new { }, new { @class = "btn btn-success" })
    </div>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2">
                <input placeholder="Заголовок" type="text" data-bind="value: titleFilter" class="form-control" />
            </th>
            <th data-bind="foreach: $root.selectedTags">
                <button data-bind="click: $root.RemoveTagFromSearch, text: Name"></button>
            </th>
            <th>
                <button type="submit" class="btn btn-info" style="max-width: none; width: 100%;" data-bind="click: $root.Search(1, true)">
                    <i class="fa fa-search"></i>&nbsp;Поиск
                </button>
            </th>
        </tr>
        <tr>
            <th>Заставка</th>
            <th>Заголовок</th>
            <th>Тэги</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: $root.newsList()">
        <tr>
            <td class="col-md-2">
                <img data-bind="attr:{src: HeaderFile.Url, alt: Title}" width="100" />
            </td>
            <td class="col-md-2" data-bind="text: Title"></td>
            <td class="col-md-3" data-bind="foreach: Tags">
                <button data-bind="click: $root.AddTagToSearch, text: Name"></button>
            </td>
            <td class="col-md-2">
                <a class="btn btn-default" title="Посмотреть" data-bind="click: function(){$root.OpenNews(Id)}"><i class="far fa-eye"></i></a>
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a class="btn btn-default" title="Изменить" data-bind="click: function(){$root.EditNews(Id)}"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-default" title="Удалить" data-bind="click: function(){$root.DeleteNews(Id)}"><i class="fa fa-trash-alt"></i></a>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>

<div id="divPagination">Страница 1</div>
<div class="row">
    <ul class="col-md-7 col-md-offset-0" id="ulPagination"></ul>
</div>

@section Scripts{
    <script src="~/Scripts/viewModels/NewsViewModel.js"></script>
    <script>
        ko.applyBindings(new NewsVm());
    </script>
}