﻿@using Newtonsoft.Json
@model GamePortal.Domain.Models.DTO.ViewModels.NewsViewModel
@{
    ViewBag.Title = Model.Title;
}

<section id="application-form">
    <section>
        <header>
            <h1>@ViewBag.Title</h1>
            <div>
                <img src="@Model.HeaderFilePath" alt="@Model.Title" width="500" />
                <button data-bind="click: function() { $root.Vote(1) }"><i class="fa-thumbs-up" data-bind="css: isNewsLiked"></i><span data-bind="text: $root.model().PositiveVotes"></span></button>
                <button data-bind="click:  function() {  $root.Vote(-1) }"><i class="fa-thumbs-down" data-bind="css: isNewsUnliked"></i><span data-bind="text: $root.model().NegativeVotes"></span></button>
            </div>
            <div>
                @if (Model.Tags.Count > 0)
                {
                    <span>
                        Тэги:
                        @foreach (var tag in Model.Tags)
                        {
                            <button>
                                @tag.Name
                            </button>
                        }
                    </span>
                }
            </div>
        </header>
        <hr />

        <h2>Описание</h2>
        @Html.Raw(Model.Description)
    </section>
    @if (Model.Comments.Count > 0)
    {
        <section>
            <h2>Комментарии</h2>
            <div data-bind="template: { name: 'formElementNodeTemplate', foreach: $root.model().Comments }"></div>
        </section>
    }
    <section>
        <p>Оставьте свой комментарий</p>
        <div data-bind="if: replyToComment">
            <button data-bind="text: replyName, click: $root.CancelReply"></button>
        </div>
        <input type="text" data-bind="value: commentText" />
        <button class="btn" data-bind="click: $root.SendComment">Отправить</button>
    </section>
    <br />
</section>

@section Scripts{
    <script id="formElementNodeTemplate" type="text/html">
        <ul style="list-style-type: none;">
            <li>
                <div>
                    <span data-bind="text: CreatedByUserName"></span>
                </div>
                <div>
                    <span data-bind="text: Text"></span>
                    <span data-bind="text: CreateDateTime" style="margin-left: 15px;"></span>
                    <button data-bind="click: function() { $root.VoteComment($data, 1) }"><i class="fa-thumbs-up" data-bind="css: { fas: IsLiked(), far: !IsLiked() }"></i><span data-bind="text: PositiveVotes"></span></button>
                    <button data-bind="click: function() { $root.VoteComment($data, -1) }"><i class="fa-thumbs-down" data-bind="css: { fas: IsUnliked(), far: !IsUnliked() }"></i><span data-bind="text: NegativeVotes"></span></button>
                </div>
                <button data-bind="click: $root.ReplyToComment">Ответить</button>
                <br />
                <!-- ko template: { name: 'formElementNodeTemplate', foreach: RepliesToComment() } -->
                <!-- /ko -->
            </li>
        </ul>
    </script>
    <script src="~/Scripts/viewModels/NewsViewModel.js"></script>
    <script src="~/Scripts/models/NewsModel.js"></script>
    <script>
        ko.applyBindings(new NewsVm(new NewsModel(ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)))), true));
    </script>
}